doctype html
html(lang='en')
  include includes/head.pug
  body
    #wrapper
      // Navigation
      include includes/nav.pug
      #page-wrapper
        // /.row
        .row
          .col-lg-12
            h1.page-header Account
          // /.col-lg-4
          .col-lg-12
            if nssuccess
              .alert.alert-success.alert-dismissable
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                |  #{nssuccess}
            else if nserror
              .alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                |  #{nserror}
          .col-lg-12
            button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal') Add funds
            h3.pull-right
              | #{balance} XEM
          span
            | &nbsp
          .col-lg-12
            .panel.panel-success
              .panel-heading
                | Account details
              .panel-body
                .col-lg-7
                  form(role='form', method='post')
                    fieldset(disabled='')
                    .form-group
                      label Username
                      p.form-control-static #{farmer.username}
                    .form-group
                      label Address
                      p.form-control-static #{farmer.nemAddress}
                    .form-group
                      label Private Key
                      p.form-control-static #{account.privateKey}   


          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Instructions
                .modal-body
                  | Add funds to your account to enable the creation of namespaces and mosaics. To do so, send an amount greater than 
                  strong 150 XEM 
                  | to your address 
                  strong #{farmer.nemAddress}
                  p
                    | Once you have topped up, click 
                    a(href="/admin/createns") create namespace 
                    | below to enable you to proceed.
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close

          // /.col-lg-4
          // /#page-wrapper
          // /#wrapper
          // jQuery
          script(src='../vendor/jquery/jquery.min.js')
          // Bootstrap Core JavaScript
          script(src='../vendor/bootstrap/js/bootstrap.min.js')
          // Metis Menu Plugin JavaScript
          script(src='../vendor/metisMenu/metisMenu.min.js')
          // Morris Charts JavaScript
          script(src='../vendor/raphael/raphael.min.js')
          script(src='../vendor/morrisjs/morris.min.js')
          // Custom Theme JavaScript
          script(src='../dist/js/sb-admin-2.js')

          script.
            $(".createns").on('click', function(e) {
              console.log('created namespace');

            })
