footer#fh5co-footer(role="contentinfo")
        .container
          .col-md-3.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
            h3 About Us
            p
              | Land leasing using NEM's blockchain technology to facilitate automation of the land acquisition process.
            p
              a.btn.btn-primary.btn-outline.with-arrow.btn-sm(href="/login")
                | Get started 
                i.icon-arrow-right
          .col-md-6.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0

           
          .col-md-2.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
            h3 Follow Us
            ul.fh5co-social
              li
                a(href="#")
                  i.icon-twitter
              li
                a(href="#")
                  i.icon-facebook
              li
                a(href="#")
                  i.icon-google-plus
              li
                a(href="#")
                  i.icon-instagram
        